<form [formGroup]="form">
    <section>
        <div class="div__one ">
            <button class="green_edit" [routerLink]="['/overview/history/',params.id]" mat-raised-button color="primary">Back</button>
        </div>

        <div>
            <h1>Ticket({{params.id}}) - task {{params.id}}</h1>
            <p class="p__center">Please, rate your satisfaction with the solution:</p>
            <div class="rating-area">
                <input (click)="sizeStar(5)" type="radio" id="star-5" name="rating" value="5">
                <label for="star-5" title="Оценка «5»"></label>
                <input (click)="sizeStar(4)" type="radio" id="star-4" name="rating" value="4">
                <label for="star-4" title="Оценка «4»"></label>
                <input (click)="sizeStar(3)" type="radio" id="star-3" name="rating" value="3">
                <label for="star-3" title="Оценка «3»"></label>
                <input (click)="sizeStar(2)" type="radio" id="star-2" name="rating" value="2">
                <label for="star-2" title="Оценка «2»"></label>
                <input (click)="sizeStar(1)" type="radio" id="star-1" name="rating" value="1">
                <label for="star-1" title="Оценка «1»"></label>
            </div>

            <div class="textArea__div"><textarea formControlName="description" name="" id="" cols="30" rows="10"></textarea> </div>

            <div class="button_div"> <button (click)="addFeedback()" class="green_edit right" mat-raised-button color="primary">Submit</button></div>
        </div>

        <div class="div__button"></div>
        <div class="div__buttn"></div>
    </section>


</form>